@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* .fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  } */

*{
    padding: 0;
    margin: 0;
}
.device_width{
    width: 85%;
    background-color: rgb(220, 250, 241);
    margin: 0 auto;
}

/* navbar area start  */

  .nav{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 20px;
}

.nav .nav_head{
    font-family: Fira Sans;
    color: black;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}
.nav .nav_btn{
    padding: 10px 19px;
    font-family: Fira Sans;
    font-size: 11px;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    border-radius: 6px;
    color: black;
    border: 1px solid rgba(0, 128, 0, 0.921);
}

.nav .nav_btn:hover{
    background-color: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
      transition: all linear 1s ;
}  

  /* banner part start */
 .banner{
    display: flex;
    justify-content: space-around;
    background-color: rgb(198, 228, 214);
    border-radius: 23px;
    
 }
 .banner_little_head {
    color: rgba(14, 14, 14, 0.5);
    font-size: 25px;
    font-weight: 500;
    font-family: Fira Sans;
    margin-top: 72px;
    margin-bottom: 13px;
}

.banner_big_head{
    color: rgba(0, 0, 0, 0.972);
    width: bold;
    font-size: 49px;
    font-family: Fira Sans;
    
}
.banner_content .banner_btn{
    color: beige;
    background-color:rgb(0, 106, 80) ;
    font-size: 10px;
    font-weight: 600;
    font-family: Fira Sans;
    text-align: center;
    padding: 12px 29px;
    margin:14px 0;
    border-radius: 6px;
}
.banner_content .banner_btn:hover{
    background-color: azure;
    color: black;
    border: 1px solid black;
    transition: all linear .5s ;
}
.banner_img{
    margin-bottom: 22px;
}

/* pillars section start */

.pillars_heading{
    font-size: 18px;
    font-weight: bold;
    font-family: Fira Sans;
    color:rgba(0, 0, 0, 0.954);
    margin: 30px 23px 2px 0;
    margin-bottom: 20px;
}
.pillars_pra{
   font-size: 12px;
   font-weight: normal;
   font-family: Fira Sans;
   color:  rgba(14, 14, 14, 0.7);
}
.pillars_head{
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-family: Fira Sans;
    margin: 12px 1px;
}

.pillars_container{
    display: flex;
    justify-content: space-between;
}
 .pillars_in{
   background-color: aliceblue;
    padding: 17px 0px 16px 20px;
    width: 250px;
     height: 160px;
     text-align: left;
     border-radius: 7px;
     
}
.pillars_in:hover{
    background-color: rgba(218, 194, 177, 0.962);
    
    transition: all linear .3s ;
}
.pillars_su{
    background-color: aliceblue;
    padding: 17px 0px 16px 20px;
    width: 250px;
     height: 160px;
     text-align: left;
     border-radius: 7px;
}
.pillars_su:hover{
    background-color: antiquewhite;
   
    transition: all linear .3s ;
}


.pillars_inf{
    background-color: aliceblue;
    padding: 17px 0px 16px 20px;
    width: 250px;
     height: 160px;
     text-align: left;
     border-radius: 7px;
}
.pillars_inf:hover{
    background-color: rgb(187, 162, 209);
   
    transition: all linear .3s ;
}

.pillars_em{
    background-color: aliceblue;
    padding: 17px 0px 16px 20px;
    width: 250px;
     height: 160px;
     text-align: left;
     border-radius: 7px;
}
.pillars_em:hover{
    background-color: rgb(165, 181, 207);
    transition: all linear .3s ;
}



/* vision part start */

 .vision_heading{
    font-size: 40px;
    font-weight: bold;
    font-family: Fira Sans;
    color:rgba(12, 12, 12, 0.954);
    margin: 30px 23px 2px 0;
    margin-bottom: 20px;
}
.vision-pragraph{
   font-size: 12px;
   font-weight: normal;
   font-family: Fira Sans;
   color:  rgba(14, 14, 14, 0.7);
   margin-bottom: 18px;
}
.vision_head{
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-family: Fira Sans;
    margin: 12px 1px;
}
















 .vision{
    display: flex;
    justify-content: space-between;

 }

 .vision_container .vision_in{
    background-color: rgba(84, 144, 245, 0.2);;
    padding: 17px 0px 16px 20px;
    width: 330px;
     height: 200px;
     text-align: left;
     border-radius: 7px;
        
}

.vision_container .vision_in:hover{
    background-color: rgba(218, 194, 177, 0.962);
   
    transition: all linear .3s ;
}

.vision_container .vision_su{
    background: rgb(198, 228, 214);
    padding: 17px 0px 16px 20px;
    width: 330px;
    height: 200px;
     text-align: left;
     border-radius: 7px;
}
.vision_container .vision_su:hover{
    background-color: antiquewhite;
   
    transition: all linear .3s ;
}
.vision_container .vision_inf{
    background: rgb(247, 235, 207);
    padding: 17px 0px 16px 20px;
    width: 330px;
    height: 200px;
     text-align: left;
     border-radius: 7px;
}   
.vision_container .vision_inf:hover{
    background-color: rgb(187, 162, 209);
   
    transition: all linear .4s ;
}
.vision_btn_in{
    color: aliceblue;
    font-weight: 600;
    font-size: 10px;
    border-radius: 7px;
    background: rgb(84, 144, 245);
    font-family: Fira Sans;
    padding: 8px 9px;
    margin: 9px 0;
}
.vision_btn_in:hover{
    transition: all linear .4s ;
    background-color: red;
    color: aliceblue;
}

.vision_btn_su{
    color: aliceblue;
    font-weight: 600;
    font-size: 10px;
    border-radius: 5px;
    background: rgb(84, 144, 245);
    font-family: Fira Sans;
    padding: 8px 9px;
    margin: 9px 0;
}
.vision_btn_su:hover{
    transition: all linear .4s ;
    background-color: red;
    color: aliceblue;
}

.vision_btn_inf{
    color: aliceblue;
    font-weight: 600;
    font-size: 10px;
    border-radius: 7px;
    background: rgb(84, 144, 245);
    font-family: Fira Sans;
    padding: 8px 9px;
    margin: 9px 0;
}
.vision_btn_inf:hover{
    transition: all linear .4s ;
    background-color: red;
    color: aliceblue;
}

/* speech part start  */
.speech{
  
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 12px;
    background-color: aliceblue;
    margin-top: 40px ;
    margin-bottom: 30px;
}
.speech_pra{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 11px;
    font-weight: 400;
    margin: 2px 34px 5px 5px;
    /* padding-bottom: 18px; */
   
}
.speech_head{
    color: black;
    font-size: 22px;
    font-weight: 700;
    margin: 11px 5px;
    font-family: Fira Sans;
    text-align: left;
}
.speech_pra_bold{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 17px;
    font-weight: 400;
    margin: 5px 23px 5px 5px;
    
}
.speech .speech_icon{
    font-size: 30px;
    color: rgba(6, 4, 14, 0.8) ;
 
}


.speech_quote {
    position: relative;
    background-color: aliceblue;
    /* border-radius: 10px;
    padding: 10px;
    margin: 20px; */
    margin: 20px 12px 5px 5px;
}
  
 .speech_quote .speech_pra {
    margin: 0;
    font-size: 14px;
  }
  
  .speech-icon {
    position: absolute;
    top: 20px;
    left: -20px;
    z-index: -3;
    font-size: 54px;
    color: #888;
  }

  /* opinion part start  */

  .opinion_head{
    font-size: 30px;
    font-weight: 700;
    font-family: Fira Sans;
    color:rgba(12, 12, 12, 0.954);
    margin: 40px 33px 2px 2px;
    margin-bottom: 20px;
    background-color: rgb(220, 250, 241);
    width: 100%;

    
  }
  .option_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2px 29px;
    border: 1px solid gray;
    height: 44px;
    flex-direction: row;
    margin: 11px 11px;
    padding: 4px 17px;
    background-color: rgba(90, 90, 231, 0.774);
    color: black;
    border-radius: 6px;
    
 }
 .opinion_pra{
    /* color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 15px;
    font-weight: 600;
    margin-top: 30px; */
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 15px;
    font-weight: 600;

 }

 .opinion_paragraph{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 15px;
    font-weight: 600;
   
 }
 .option_i{
    / background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2px 29px;
    border: 1px solid rgb(201, 193, 193);
    height: 44px;
    flex-direction: row;
    margin: 11px 11px;
    padding: 4px 14px;
    border-radius: 6px; 
    
 }
 .option_it{
     background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2px 29px;
    border: 1px solid rgb(201, 193, 193);
    height: 44px;
    flex-direction: row;
    margin: 11px 11px;
    padding: 4px 14px;
    border-radius: 6px; 
   
 }
 .option_ite{
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2px 29px;
    border: 1px solid rgb(201, 193, 193);
    height: 44px;
    flex-direction: row;
    margin: 11px  11px 11px 11px;
    padding: 13px 16px 14px 14px;
    border-radius: 6px;

 }
 .option{
    background-color: aliceblue;
    border-radius: 6px;
 }

 /* news part start  */

